<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puffer.shopify.mapper.ProductImageDao">
    <sql id="Base_Column_List">
    id AS id, spu AS spu, image_url AS imageUrl, attachment AS attachment, create_time AS createTime, update_time AS updateTime
  </sql>

    <insert id="insert" parameterType="com.puffer.shopify.entity.ProductImageDO">
    insert into tb_product_image (spu, image_url, attachment)
    values (#{spu,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{attachment})
  </insert>

    <insert id="insertList">
        insert into tb_product_image (spu, image_url, attachment)
        values
        <foreach collection="list" item="po" separator=",">
            (#{po.spu,jdbcType=VARCHAR}, #{po.imageUrl,jdbcType=VARCHAR}, #{po.attachment})
        </foreach>
    </insert>
    <update id="updateUrl">
        update tb_product_image set image_url = #{imageUrl} where spu = #{spu}
    </update>
    <select id="queryList" resultType="com.puffer.shopify.entity.ProductImageDO">
        select
        <include refid="Base_Column_List"/>
        from tb_product_image where spu = #{spu}
    </select>
</mapper>