<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puffer.shopify.mapper.ProductDao">
  <sql id="Base_Column_List">
    id AS id, spu AS spu, type AS type, title AS title, amazon_price AS amazonPrice, 
    url AS url, shopify_price AS shopifyPrice, product_id AS productId, flow_state AS flowState, 
    state AS state, create_time AS createTime, update_time AS updateTime
  </sql>
  <insert id="insert" parameterType="com.puffer.shopify.entity.ProductDO">
    insert into tb_product (id, spu, type, 
      title, amazon_price, url, 
      shopify_price, product_id, flow_state, 
      state, create_time, update_time, 
      description)
    values (#{id,jdbcType=INTEGER}, #{spu,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{amazonPrice,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR}, 
      #{shopifyPrice,jdbcType=DECIMAL}, #{productId,jdbcType=VARCHAR}, #{flowState,jdbcType=TINYINT}, 
      #{state,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
</mapper>