<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puffer.shopify.mapper.ProductRankDao">
    <sql id="Base_Column_List">
    id AS id, spu AS spu, rank_type AS rankType, rank AS rank, create AS create
  </sql>
    <insert id="insert" parameterType="com.puffer.shopify.entity.ProductRankDO">
    insert into tb_product_rank (spu, rank_type,
      rank, )
    values ( #{spu,jdbcType=VARCHAR}, #{rankType,jdbcType=VARCHAR},
      #{rank,jdbcType=INTEGER})
  </insert>
    <insert id="insertList">
        insert into tb_product_rank (spu, rank_type,
        rank )
        values
        <foreach collection="list" item="po" separator=",">
            ( #{po.spu}, #{po.rankType},
            #{po.rank})
        </foreach>
    </insert>
</mapper>